/* ---------------------------     THE MOBILE FIX ----------------------------- */

@media screen and (max-width: 580px) {
    /* Styles to be applied for screens with a minimum width of 580px */
  
    .bx-menu {
      
    }

    .Double-Iphone {
      display: none;
    }

    .applelogo {
      background-image: url(/assets/doubleiphone.svg);
    }



    /* .Footer-one {
      display: none;
    } */
  
    .REFERRAL {
      display: block;
    }
  
    .Footer-Two {
      display: block;
      height: inherit;
    }
  
    .AppGoogle {
      /* Modify styles for AppGoogle */
    }
  
    .Footer-Three {
      display: block;
    }
  
    .copyright {
      display: block;
    }

    .Gadget-Set {
        display: block;
    }

    .Cloth-Card {
        display: block;
    }

    .Cards-one {
      width: 100%;
      margin-bottom: 5%;
      
    }

    .Cloth-Card-Two {
        display: block;
    }

    .Cards-Two {
      width: 100%;
      margin-bottom: 5%;
      position: relative;
    }



    .Later-Container {
        height: inherit;
        width: 80%;
    }

    .Women-Page {
        display: block;
    }

    .Women-Card-Place {
      display: block;
      width: 100%;
    }
/* 
    .New-Arrivals {
        display: block;
    } */

    .Become-Seller {
        display: none;
    }

    .swiper-wrapper-logo {
      display: none;
    }
}
  